.character{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: none;
    padding-top: 0px;
    padding-bottom:0px;
}

h2>.char-name{
    margin-top: 20px;
    margin-bottom: 0px;
}
.left-fight{
    display: block;
    text-align: right;
    margin-right: 15px;
    width: 120px;
}

.right-fight{
    display: block;
    text-align: left;
    margin-left: 15px;
    width: 120px;
}

.left-fight > p{
    margin: 0;
}
.right-fight > p{
    margin: 0;
}

@media screen and (min-width: 320px) {
    .left-fight{
        width: 220px;
    }
    
    .right-fight{
        width: 220px;
    }
}

@media screen and (min-width: 500px) {
    .left-fight{
        width: 400px;
    }
    
    .right-fight{
        width: 400px;
    }
}