.character{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: none;
    padding-top: 0px;
    padding-bottom:0px;
}

h2>.char-name{
    margin-top: 20px;
    margin-bottom: 0px;
}
.left-fight{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: 15px;
    margin-right: 15px;
}

.right-fight{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
}

.left-fight > p{
    margin: 0;
}
.right-fight > p{
    margin: 0;
}