* {
    box-sizing: border-box;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: none;
    border-bottom: 2px solid  #003333;
    padding-bottom: 5px;
}

.left{
    display: block;
    text-align: right;
    margin-right: 15px;
    margin-left: auto;
    width: 120px;
}

.right{
    display: block;
    text-align: left;
    margin-left: 15px;
    margin-right: auto;
    width: 120px;
}

@media screen and (min-width: 320px) {
    .left{
        width: 220px;
    }
    
    .right{
        width: 220px;
    }
}
