* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #003333;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav > div {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: #003333;
}

.nav-link:hover{
  background-color: white;
}

.link {
  text-decoration: none;
  color: #003333;
}

header{
  padding-top: 15px;
  height: 100px;
}

button{
  text-decoration: none;
  color: #003333;
  border: 2px solid #003333; 
  padding: 4px;
  margin: 5px;
}

button:hover{
  cursor: pointer;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

input{
  padding: 5px;
}

